.container {
    border-bottom: 1px solid black;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: 40px;
}

.activeLink {
    font-weight: bold;
}