.container {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}

.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.pageButton {
    padding: 4px 10px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

.pageButtonActive {
    background: #ececec;
    cursor: default;
}

.ellipsis {
    padding: 4px 10px;
    color: #888;
    user-select: none;
}